nav{
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
#title{
  font-family:"Bungee" ,"sans-serif";
  display: flex;
font-size: xx-large;
 }
 #newContentLink{
  font-family:"sans-serif";
  display: flex;    
 }
 #nav-write-tweet{
  display: flex;
 flex-direction: column;
 align-items: center;

 }
 .fa-angles-down{
  color:red;
 }
 .animated {
  animation: MoveUpDown 1s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}