section{
  display: flex;
  width: 100%;
  flex-direction: column;  
  align-items:center;
  margin: 10px;
}
form{
  display: flex;
  flex-direction: column;
  width: 100%;  
  align-items: flex-start;    
  padding: 10px; 
}
hr{
  border: 1px solid black;
  width: 100%;
}

article{
  display: flex;
  flex-direction:column;
  width: 100%;  
  align-items: flex-start;    
  padding: 10px;  
  border: 1px;
  border-color: black;
  border-style: solid;
  transition: box-shadow .3s;
  margin: 10px;
}
article:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
article header{  
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between; 
  background-color: transparent;
}

footer, #tweet-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: smaller;
}
i{
  margin: 3px;
}
article i:hover{
  color: goldenrod;
}
.counter{
  font-family:"Bungee" ,"sans-serif"; 
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
  border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;
}
#tweet-label{
  font-weight: 400;
  text-shadow: 0cm;
}
#tweet-button{
  background-color: darkblue;
  color: white; 
  font-family:"Bungee" ,"sans-serif";
}
#tweet-text{
  border: 0;
  height: 50px;
  width: 100%; 
  background-color: transparent;
}
#username{
  color: gray;
}
